.hndls-storelocator-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hndls-storelocator-modal.modal-open {
  display: -webkit-flex;
  display: flex;
  z-index: 1001;
}
.hndls-storelocator-modal .hndls-storelocator-modal__inner {
  max-height: 100vh;
  height: 100vh;
  background-color: #fff;
  width: 100vw;
  -webkit-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.hndls-storelocator-modal .close-locator-modal {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 22px;
  top: 12px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
.hndls-storelocator-modal .close-locator-modal .close-icon {
  position: absolute;
  top: 5.5px;
  right: 7px;
  height: 30px;
  width: 30px;
  opacity: 0.85;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.hndls-storelocator-modal .close-locator-modal .close-icon:before, .hndls-storelocator-modal .close-locator-modal .close-icon:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 100%;
  width: 4px;
  background-color: #2c3691;
}
.hndls-storelocator-modal .close-locator-modal .close-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hndls-storelocator-modal .close-locator-modal .close-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hndls-storelocator-modal button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  text-transform: uppercase;
  font-weight: bold;
}
.hndls-storelocator-modal button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;
}
.hndls-storelocator-modal button svg {
  float: right;
  position: relative;
  width: 16px;
  top: 7px;
  transition: 0.1s ease-in-out;
}
.hndls-storelocator-modal button svg path {
  fill: var(--color-red);
}
.hndls-storelocator-modal button[aria-expanded=true] svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hndls-storelocator-modal ul {
  list-style: none;
  padding-left: 0;
}
.hndls-storelocator-modal ul .location-list-button {
  font-size: 20px;
  padding: 20px 0;
}
.hndls-storelocator-modal ul .location-list-button svg {
  top: 10px;
}
.hndls-storelocator-modal .location-city .location-city-button {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  padding-left: 20px;
}
.hndls-storelocator-modal .hndls-storelocator__view__map {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .search-area {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 600px;
  -webkit-order: 2;
          order: 2;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .search-area__inner {
  height: 100%;
  width: 450px;
  position: relative;
  background-color: #fff;
  overflow-y: auto;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .search-area__input-wrapper {
  position: relative;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .search-area__input-wrapper svg {
  position: absolute;
  top: 1.0625rem;
  left: 0.75rem;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .search-area__input-wrapper input {
  padding: 0 2rem 0 2.5rem;
  background: #f5f5f5;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
  border: 0;
  margin: 0;
  height: 3rem;
  width: 100%;
  border-radius: 3rem;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .search-area__input-wrapper input:focus {
  outline: none;
  background-color: #e0e0e0;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .map-area {
  min-height: 200px;
  -webkit-order: 1;
          order: 1;
}
.hndls-storelocator-modal .hndls-storelocator__view__map .map-area #hndls-map {
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hndls-storelocator-modal .hndls-storelocator__view__map {
    -webkit-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    height: calc( 100vh - 100px );
  }
  .hndls-storelocator-modal .hndls-storelocator__view__map .search-area {
    -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 100%;
    -webkit-order: 1;
            order: 1;
  }
  .hndls-storelocator-modal .hndls-storelocator__view__map .map-area {
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    height: 100%;
    -webkit-order: 2;
            order: 2;
  }
}
.hndls-storelocator-modal .search-area__results {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.hndls-storelocator-modal .hndls-storelocator-tab-bar {
  border-bottom: 2px solid #efefef;
  padding-bottom: 3px;
}
.hndls-storelocator-modal .hndls-storelocator-tab-bar .hndls-storelocator-tab-bar__inner {
  padding-left: 15px;
  padding-right: 15px;
}
.hndls-storelocator-modal .hndls-storelocator-tab-bar button {
  position: relative;
  font-size: 20px;
  padding: 0;
  margin-right: 15px;
  font-family: tw_cen_mt_stdbold, sans-serif;
  letter-spacing: 0.05em;
}
.hndls-storelocator-modal .hndls-storelocator-tab-bar button:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.hndls-storelocator-modal .hndls-storelocator-tab-bar button[aria-selected=true]:after {
  background-color: var(--color-red);
}
.hndls-storelocator-modal .hndls-storelocator__view__list {
  padding-top: 25px;
}
.hndls-storelocator-modal .location-accordion ul {
  display: none;
}
.hndls-storelocator-modal .location-accordion button {
  display: block;
  width: 100%;
  text-align: left;
  font-family: tw_cen_mt_stdbold, sans-serif;
  font-size: 28px;
  letter-spacing: 0.073em;
  border-bottom: 2px solid #d6d6d6;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
}
.hndls-storelocator-modal .location-accordion button.location-state-button span {
  position: relative;
}
.hndls-storelocator-modal .location-accordion button.location-state-button span:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -21px;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.hndls-storelocator-modal .location-accordion button.location-state-button[aria-expanded=true] span:after {
  background-color: var(--color-red);
}
.hndls-storelocator-modal .location-accordion .stores-container[aria-hidden=true] {
  display: none;
}
.hndls-storelocator-modal .location-accordion .stores-container[aria-hidden=false] {
  display: block !important;
}
.hndls-storelocator-modal .location-accordion .store-info:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .hndls-storelocator-modal .location-accordion .location-block {
    display: -webkit-flex;
    display: flex;
  }
}
.hndls-storelocator-modal .store-info {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #efefef;
}
.hndls-storelocator-modal .store-info h4 {
  letter-spacing: 0.073em;
}
.hndls-storelocator-modal .store-info h4 span {
  font-size: 18px;
  letter-spacing: initial;
  color: var(--color-red);
  white-space: nowrap;
}
.hndls-storelocator-modal .store-info .distance {
  font-weight: 700;
}
.hndls-storelocator-modal .store-info.selected {
  background-color: #f5f5f5;
}

.store-info-links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.store-info-links a {
  color: #2e3031;
  font-weight: 700;
}
.store-info-links a svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 8px;
  vertical-align: 2px;
}
.store-info-links a svg path {
  fill: #d72627;
}
.store-info-links a:hover {
  color: #d72627;
}

.ifw-link.fancy-link {
  font-size: 12px;
  display: inline-block;
  margin-top: 3px;
}
